@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

._transition {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
body {
  display: grid;
  grid-template-columns: 1fr;
}

/* Editor */
.ql-toolbar {
  border: none !important;
  background-color: white;
  border-radius: 10px;
}
.ql-container.ql-snow {
  border: none !important;
}
.ql-editor {
  min-height: 200px !important;
  max-height: 540px !important;
  overflow-y: scroll;
}
.ql-editor::-webkit-scrollbar {
  display: none;
}

/* Slider */
.splide__pagination__page {
  background-color: #64ffda !important;
}

.splide__pagination__page.is-active {
  background-color: #3386b1 !important;
}

/* SHADOWS */
._shadow {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 19%);
}
._shadow2 {
  box-shadow: 0px 0px 19px #585b6826;
}
._shadow3 {
  box-shadow: 0 0 7px 0px #4444441a;
}

._shadow4 {
  box-shadow: 0px 30px 90px rgb(0 0 0 / 14%);
}

.blurry {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(51, 134, 177, 0) 0%,
    rgba(51, 134, 177, 0.25) 25%,
    rgba(51, 134, 177, 0.5) 50%,
    rgba(51, 134, 177, 0.75) 75%,
    rgba(51, 134, 177, 1) 100%
  );
}

@layer utilities{
  .animation-delay-2000{
    animation-delay: 2s;
  }
  .animation-delay-4000{
    animation-delay: 4s;
  }
}

@layer components {
  .container {
    @apply mx-auto w-[95%] max-w-[1080px];
  }

  .section {
    @apply min-h-[400px];
  }

  body::-webkit-scrollbar {
    width: 5px;
  }
  body::-webkit-scrollbar-thumb {
    @apply rounded-3xl bg-dark;
  }
  body::-webkit-scrollbar-track {
    @apply rounded-3xl bg-dark;
  }
}

.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}

article iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
}

.portfolio-grid {
  display: grid;
  gap: 2.5rem 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(250px, 0.5fr));
    justify-items: start;
  }
}
